{% extends 'base.html' %}
{% block title %}SEKELE - Dashboard{% endblock %}

{% block css %}
<style>
.col-sm-3 {
    margin: 2% 3%;
    background: #8075FF;
    border-radius: 15px;
}
.card {
    height: 80px;
    width: 98%;
    background: #6320EE;
    border-radius: 15px;
    margin: 5% 0px;
    padding: 3%;
    margin-right: auto;
    margin-left: auto;
}
</style>
{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-3">
        <div class="container">
            <div class="container" style="background-color:#8075FF;border-style: solid;border-radius:25px;border-color:#6320EE">
                
                {% if 'student' in Roles %}
                <div class="text-center">
                    <h1>{{title}}</h1>
                    <a href="#" style="text-decoration: none; color:#FBFBFB;">
                        <div class="card row d-flex justify-content-center" style="background-color:#FBFBFB;; background-color: rgba(0, 0, 0, 0.3); background-blend-mode: darken;";>
                            <h2>TO-DO LIST</h2>
                        </div>
                    </a>
                </div>
                <br>
                {% endif %}
                {% if boolCourse %}
                    {% for i in Enrolled %}
                        <div class="text-center">
                            <h1>{{title}}</h1>
                            <a href="/course/detail/{{i.id}}/" style="text-decoration: none; color:#FBFBFB;">
                                <div class="card row d-flex justify-content-center" style="background-image: url('/static/images/{{i.course.image}}'); background-color: rgba(0, 0, 0, 0.3); background-blend-mode: darken;";>
                                    <h2>{{i.course}}</h2>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                
                {% else %}
                    <div class="text-center">
                        <h1>{{title}}</h1>
                        <a href="/course/list/" style="text-decoration: none; color:#FBFBFB;">
                            <div class="card row d-flex justify-content-center" style="background-color:#FBFBFB; background-color: rgba(0, 0, 0, 0.3); background-blend-mode: darken;";>
                                <h2><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Course</h2>
                            </div>
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="container">
            {% for Ann in Anns reversed %}
            <div class="container" style="border-radius:25px;box-shadow: -10px -10px 0px #8075FF; background-color:#FBFBFB;">
                <h1>{{Ann.judulAn|title}}</h1>
                <p>{{Ann.publisherAn}} | <b>Posted on</b> {{Ann.postedAn}}, <b>last edited on</b> {{Ann.lastEditAn}}</p>
                <p>{{Ann.isiAn|truncatewords:50}}
                    <a href="{% url 'announcement:viewAn' idAn=Ann.id %}"><b>Read More</b></a>
                </p>
                
                <div class="row" style="margin: auto;">
                    {% if Ann.publisherAn == User %}
                    <a href="{% url 'announcement:editAn' idAn=Ann.id %}" class="btn btn-primary" style="background-color:#6320EE;border-color:#6320EE;">Edit</a>
                    <p>&nbsp;&nbsp;&nbsp;</p>
                    <a href="{% url 'announcement:deleteAn' idAn=Ann.id %}" class="btn btn-primary" style="background-color:#6320EE;border-color:#6320EE;">Delete</a>
                    <p>&nbsp;&nbsp;&nbsp;</p>
                    {% endif %}
                    <a href="{% url 'announcement:viewAn' idAn=Ann.id %}" class="btn btn-primary" style="background-color:#6320EE;border-color:#6320EE;">View</a>
                </div>
                <br>
            </div>
            &nbsp;&nbsp;
            {% endfor %}
        </div>
        {% if 'lecturer' in Roles %}
        <a href="{% url 'announcement:addAn' %}" class="btn btn-primary" style="background-color:#FBFBFB;border-color:#FBFBFB; color:black;"><b>Add Announcement</b></a>
        {% endif %}
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}